<div class="dashboard-container">
  <h2 class="welcome-message">
    Welcome<ng-container *ngIf="username">, {{ username }}</ng-container>!
  </h2>
  <p class="tagline">Your central hub for managing financial assets and insights.</p>
  <div class="button-row" >
    <a routerLink="/portfolio-list" mat-raised-button color="primary" class="dashboard-button">View My Portfolios</a>
    <a routerLink="/watchlist" mat-stroked-button color="accent" class="dashboard-button">Explore Watchlist</a>
  </div>
</div>
