
<div class="form-wrapper">
  <h3>Add Portfolio Item</h3>
  <form (ngSubmit)="create()" #portfolioForm="ngForm" class="form-grid">

    <!-- Ticker input field -->
    <!-- User enters a stock symbol (e.g., TSLA) -->
    <!-- Input is normalized and name will be fetched automatically -->
    <mat-form-field> 
      <mat-label>Ticker symbol</mat-label>
      <input matInput id="ticker" name="ticker" type="text" [(ngModel)]="item.ticker"
                (ngModelChange)="onTickerChange($event)" required placeholder="e.g., TSLA"
                (blur)="onTickerEntered()" />

    </mat-form-field>

    <mat-form-field>
      <mat-label>Asset Name</mat-label>
      <input matInput type="text" id="name" [(ngModel)]="item.name" name="name" required readonly />
  </mat-form-field>

  <mat-form-field>
      <mat-label>Purchase Price</mat-label>
      <input matInput type="number" id="price" [(ngModel)]="item.purchasePrice" name="purchasePrice"
          required step="0.01" placeholder="e.g., 250.00" />
  </mat-form-field>

  <mat-form-field>
      <mat-label>Quantity</mat-label>
      <input matInput type="number" id="quantity" [(ngModel)]="item.quantity" name="quantity" required
          step="0.01" placeholder="e.g., 5" />
  </mat-form-field>

  <mat-form-field>
      <mat-label for="date">Purchase Date</mat-label>
      <input 
      matInput 
      [matDatepicker]="picker" id="date"
      [(ngModel)]="item.purchaseDate"
       name="purchaseDate" 
       required />

       <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker> 
      </mat-form-field>
  

    <!-- Form actions: save or cancel -->
    <div class="button-row">
      <!-- Save button is disabled if form is invalid -->
      <button mat-raised-button color="primary" type="submit" [disabled]="portfolioForm.invalid">Save</button>
      
      <!-- Cancel button triggers reset and notifies parent -->
      <button mat-button type="button" class="cancel" (click)="onCancel()">Cancel</button>
    </div>
  </form>
</div>
